*.iml
.gradle
/local.properties
.idea/
#/.idea/workspace.xml
#/.idea/libraries
.DS_Store
/app/src/main/kotlin/com/mizukami2005/mizukamitakamasa/qiitaclient/util/Config.kt
/build
/captures
.externalNativeBuild
*.log
